
{% extends 'base.html' %}

{% block body %}

            <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_botao.csrf_token }}
                <div class="col container mt-3">

                <h2>Agenda de Hoje</h2>
                    <div class="form-group">
                            {{ form_botao.data_pesquisa.label(class="form-control-label") }}
                            {% if form_botao.data_pesquisa.errors %}
                                {{ form_botao.data_pesquisa(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_botao.data_pesquisa.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_botao.data_pesquisa(class="form-control") }}
                            {% endif %}
                        </div>
                 {% if lista_agendamentos_data is not none %}
                 {% for agendamento in lista_agendamentos_data %}
                    <li class="border p-4 mt-2">
                        <p>Usuário: {{ agendamento.username }}</p>
                        <p>Celular: {{ agendamento.cell }}</p>
                        <p>Serviço: {{ agendamento.servico }}</p>
                        <p>Data: {{ agendamento.data }}</p>
                        <p>Hora: {{ agendamento.hora }}</p>
                    </li>
                 {% endfor %}
                 {% endif %}
                    <div>
                        {{ form_botao.botao_submit_agenda_data(class="btn btn-dark mt-2") }}
                    </div>
            </form>

{% endblock %}
